/* exercise 1 */

.ex-1-square {
    transition: all 5s;
}

.ex-1-square:hover {
    background-color: red;
}



/* exercise 2 */

.ex-2-square {
    transition: all 5s;
}

.ex-2-square:active {
    width: 1000px;
}


/* exercise 3 */

.ex-3-square {
    transition: all 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}



/* exercise 4 */

.ex-4-square {
    transition: all 3s;
}

.ex-4-square:hover {
    opacity: 0;
}



/* exercise 5 */

.ex-5-square {
    transition: all 3s;
}

.ex-5-square:hover {
    height: 100px;
    width: 100px;
    margin: 0px;
}

.ex-5-square:active {
    height: 20px;
    width: 20px;
    margin: 40px;
}


/* exercise 6 */

.ex-6-img:hover {
    filter: grayscale(1);
}


/* exercise 7 */

.ex-7-img {
    transition: all 3s;
}

.ex-7-img:hover {
    filter: sepia(0.8) blur(2px);
}



/* exercise 8 */

.ex-8-img {
    transition: all 3s;
}

.ex-8-img:hover {
    filter: sepia(0.8) contrast(100%) ;
    border-radius: 5%;
}