/* exercise 1 */

.ex-1-square {
    transition: all 5s;
}

.ex-1-square:hover {
    background-color: red;
}



/* exercise 2 */

.ex-2-square {
    transition: all 5s;
}

.ex-2-square:active {
    width: 1000px;
}


/* exercise 3 */

.ex-3-square {
    transition: all 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}



/* exercise 4 */

.ex-4-square {
    transition: all 3s;
}

.ex-4-square:hover {
    opacity: 0;
}



/* exercise 5 */

.ex-5-square {
    transition: all 3s;
}

.ex-5-square:hover {
    height: 100px;
    width: 100px;
    margin: 0px;
}

.ex-5-square:active {
    height: 20px;
    width: 20px;
    margin: 40px;
}


/* exercise 6 */

.ex-6-img:hover {
    filter: grayscale(1);
}


/* exercise 7 */

.ex-7-img {
    transition: all 3s;
}

.ex-7-img:hover {
    filter: sepia(0.8) blur(2px);
}



/* exercise 8 */

.ex-8-img {
    transition: all 3s;
}

.ex-8-img:hover {
    filter: sepia(0.8) contrast(100%) ;
    border-radius: 5%;
}


/* exercise 9 */

.ex-9-img {
    transition: all 3s;
}

.ex-9-img:hover {
    filter: sepia(0.8) contrast(100%) ;
    border-radius: 5%;
    transform: scale(2);
}

.ex-9-img:active {
    transform: rotate(0.5turn) scale(0.5);
}



/* exercise 10 */

.ex-10-icon {
    animation: rotation 3s linear infinite reverse;
}

@keyframes rotation {
    50% {
        transform: rotate(0.5turn);
    }
    100% {
        transform: rotate(1turn);
    }
}



/* exercise 11 */

.ex-11-icon:hover {
    animation: rotation 3s linear;
}

@keyframes rotation {
    50% {
        transform: rotate(0.5turn);
    }
    90% {
        transform: rotate(0.9turn);
    }
}




/* exercise 12 */

.ex-12-button:hover .ex-12-top-white {
    animation: white-top 2s linear;
}

@keyframes white-top {
    0% {
        left: 10%;
    }
    50% {
        left: 70%;
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: white-bot 2s linear;
}

@keyframes white-bot {
    0% {
        right: 20%;
    }
    50% {
        right: 70%;
    }
    100% {
        right: 20%;
    }
}